<script setup lang="js">
import { onMounted } from 'vue'

onMounted(() => { console.log('test') })
</script>

<template>
  <div>
    <VCard class="my-10 mx-10">
      <VCardItem>
        <VRow>
          <VCol cols="3" />
          <VCol cols="3" />
          <VCol cols="3" />
        </VRow>
      </VCardItem>

      <VCardActions>
        <VBtn>
          Button
        </VBtn>
      </VCardActions>
    </VCard>
  </div>
</template>
